#all {
    width: 65%;
    background-color:rgb(255, 246, 206);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

#score {
    font-family: 'Arial';
}

#start-game, #draw-cards {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(183, 214, 255);
}

body {
    display: flex;
    justify-content: center;
}

h1, h3, p {
    font-family: 'Arial';
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}