#all {
    width: 70%;
}

#score {
    font-family: 'Arial';
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Arial';
}

h3 {
    font-family: 'Arial';
}

p {
    font-family: 'Arial';
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 200px;
}